{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block body %}
 
  

  <div class="bg-titles" style="display:flex;justify-content:center;align-items:center;">
  
  <div class="title-for-page"><b><h1>ABOUT US</h1></b></div>
  <br>
  
  </div>
  <p style="display:flex;justify-content:center;align-items:center;font-size: 50px;">Welcome to InOrder</p>
  <div class="container" style="display:flex;justify-content:center;align-items:center;"">
  <p> <b>Team</b> : Sharanya Kamath, Mehnaz Yunus</p>
  </div>

{% endblock %}